PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/school-crm
JWT_SECRET=cohen_secret_jwt_sign_key_2026

# Meta Integration Keys
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=cohen_verify_token_2026
META_PAGE_ID=

# Cloudinary Storage Keys (Optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
